# Build artifacts
**/bin/
**/obj/
**/out/

# IDE / editor
.vs/
.vscode/
.idea/
*.user

# Git
.git/
.gitignore

# Docker
Dockerfile*
.dockerignore

# Local config & secrets
**/appsettings.*.local.json
**/*.env
.env
